<ion-header>
  <app-menu></app-menu>
</ion-header>

<ion-content>
    <app-publicidad></app-publicidad>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" *ngFor="let item of data" text-center class="p">
          <ion-card color="tertiary" (click)="direct(item._id)" class="p">
            <ion-card-header>            
              <ion-card-title>{{item.titulo}}</ion-card-title>
            </ion-card-header>
            <!-- <ion-card-content>
              {{item.descripcion}}
            </ion-card-content> -->
          </ion-card>
        </ion-col>     
      </ion-row>
    </ion-grid>

</ion-content>
