.logo{
    height: 90px;
    width: 300px;
}

.box{
    padding: 5px;
}

.menu{
    display: flex;
}
.toogle{
    display: none;
}


@media (min-width: 0px) and (max-width: 720px) {
    .menu{
        display: none;
    }
    .toogle{
        display: flex;
    }

  }